body {
	padding : 0;
	margin : 0; 
	margin-top: 0; 
}

h1 {
	color :#F52727 ;
}

#compra{
	background-color: #000000;
	color: #FFFFFF ;
	border-radius: 5px;
	height: 30px;
}


#sebut{

	height: 20px;
	margin-top: 10px;
	margin-left: -60px;
}

#mainmenu{
	background-color: #D49259;
	height: 50px;
	display: flex;
	justify-content: space-between; 
}

header img {
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

header a{
	margin-top: 10px;
	margin-right: 10px;
}



header a:hover{
background-color: #E6E6E6 ;
border-radius: 5px;
height: 30px;

}

footer{
	align-content: center;
}

#main1{
	
	display: flex;
	justify-content: center;
	background-image: url(../assets/img/product.png);
	height: 250px;
	background-size: auto;   
	background-position: center; 
	background-repeat: no-repeat; 
}


