* {
    margin: 0;
    padding: 0;
}

header {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

nav {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

main {
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
}

section {
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
}

aside {
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
}

article {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.product-image {
    border: 1px solid black;
    padding: 30px;
    margin: 10px;
}

.product-info {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.quantity {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.buttons {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
