:root{
    --lila: #6d597a;
    --rosa: #b56576;
    --carne: #eaac8b;
    --blanco: #fff;
    --negro: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif
}


ul{
    list-style: none;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 10;
}

header, footer{
    background-color: var(--lila);
    color: var(--blanco);
    padding: 15px;
    text-align: center;
}



aside{
    position: absolute;
    left: 0;
    top: 60px;
    bottom: 35px;
    background-color: var(--rosa);
    width: 15%;
    padding: 20px;
}


aside a{
    color: var(--negro);
    text-decoration: none;
    display: block;
    margin: 10px 0;
}

section{
    position: relative;
    top: 300px;
    bottom: 50px;
    left: 15%;
    right: 5%;
    width: 85%;
    text-align: center;
}

.card{
    display: inline-block;
    background-color: var(--carne);
    width: 45%;
    height: 100px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 10px;
}





