* {
    margin: 0;
    padding: 0;
}

header {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

main {
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
}

section {
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
}

article {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

footer {
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
}

footer div {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}

.product-image {
    border: 1px solid black;
    padding: 30px;
    margin: 10px;
}
