@font-face {
    font-family: Oswald;
    src: url(../assets/fonts/Oswald/static/Oswald-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Oswald;
}

.contenidor{
    width: 33%;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
}

main div:first-child{
    background-color: bisque;
    box-sizing: border-box;
}

main div:nth-child(2){
    background-color: lightgreen;
}